# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env

# dev stuff
_dev

# dependencies
/node_modules
/.pnp
.pnp.js
/.yarn

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# logs
*.log

# local stuff 
_dev

package-lock.json

#local lighthouseci results 
.lighthouseci

app-engine/graphql/.env.codegen

tsconfig.tsbuildinfo
.vscode